<div class="header">
  <button mat-icon-button (click)="toggleNav()" class="header__menu-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <p class="header__text" routerLink="/welcome">
    <span class="header__logo">🐴</span>
    馬券シュミレーター
  </p>

  <span class="spacer"></span>

  <span class="spacer"></span>

  <ng-container *ngIf="authService.user$ | async as user">
    <div class="header__btns">
      <button
        mat-mini-fab
        [matMenuTriggerFor]="userMenu"
        [style.background-image]="'url(' + user?.photoURL + ')'"
        class="header__icon"
      ></button>
    </div>
    <mat-menu #userMenu="matMenu" class="header__menu">
      <a mat-menu-item routerLink="/">
        <mat-icon>settings</mat-icon>
        <span>設定</span>
      </a>
      <button mat-menu-item (click)="authService.logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>ログアウト</span>
      </button>
    </mat-menu>
  </ng-container>
</div>
