.nav-wrapper {
  width: 256px;
  height: 100vh;
  padding-right: 16px;
  display: flex;
  flex-flow: column;
}

.head {
  padding: 8px 24px;
  height: 40px;
  &__logo-link {
    font-size: 16px;
    line-height: 40px;
  }
  &__logo {
    font-size: 24px;
    margin-right: 4px;
  }
}

.menu {
  &__parent {
    display: flex;
    flex-flow: column;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
  }
  &__children {
    font-size: 14px;
    transition: ease-out 0.3s;
    padding-left: 8px;
    cursor: pointer;
    margin-bottom: 4px;
    &:hover {
      color: #fff;
    }
    .menu__icon {
      width: 40px;
      height: 40px;
      display: grid;
      place-items: center;
    }
  }
  &__icon {
    margin-right: 8px;
  }
}

.mat-list-item {
  width: 100%;
  border-radius: 0 4px 4px 0;
  &:hover {
    background: #2962ff;
  }
}

.is-active {
  background: #2962ff;
  color: #fff;
}

.toggle {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  &__btn {
    background: #2962ff;
    color: #fff;
  }
}
