<div class="nav-wrapper">
  <div class="head">
    <a routerLink="/" class="head__logo-link" routerLink="/welcome">
      <span class="head__logo">🐴</span>
      馬券シュミレーター
    </a>
  </div>

  <mat-divider></mat-divider>

  <div class="menu">
    <mat-nav-list>
      <div class="menu__parent">
        <a
          mat-list-item
          routerLink="/"
          class="menu__children"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon class="menu__icon">home</mat-icon>
          ホーム</a
        >
        <a
          mat-list-item
          routerLink="/create-sheet"
          class="menu__children"
          [routerLinkActive]="['is-active']"
          (click)="navigate('/create-sheet')"
        >
          <mat-icon class="menu__icon">add</mat-icon>
          シート作成</a
        >

        <mat-divider></mat-divider>

        <a
          mat-list-item
          routerLink="/members"
          class="menu__children"
          [routerLinkActive]="['is-active']"
          (click)="navigate('/members')"
        >
          <mat-icon class="menu__icon">group</mat-icon>
          メンバー</a
        >
      </div>
    </mat-nav-list>
  </div>

  <span class="spacer"></span>

  <div class="toggle">
    <span class="spacer"></span>
    <button mat-mini-fab class="toggle__btn" (click)="toggleNav()">
      <mat-icon>navigate_before</mat-icon>
    </button>
  </div>
</div>
