.welcome-wrap {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.loading {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  &__text {
    span {
      display: inline-block;
      margin: 0 -0.075em;
      animation: loading 0.7s infinite alternate;
    }
    span:nth-of-type(2) {
      animation-delay: 0.1s;
    }
    span:nth-of-type(3) {
      animation-delay: 0.2s;
    }
    span:nth-of-type(4) {
      animation-delay: 0.3s;
    }
    span:nth-of-type(5) {
      animation-delay: 0.4s;
    }
  }
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.main {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  &__block {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    &--title {
      background: linear-gradient(to right, #396afc, #2948ff);
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    color: #fafafa;
  }
  &__login {
    font-size: 16px;
  }
}

.btn {
  width: 160px;
  margin: 0 auto 48px;
  font-size: 20px;
  font-weight: 300;
  padding: 8px 16px 8px 0;
  transition: ease-out 0.3s;
  cursor: pointer;
  &:hover {
    color: #e33c7d;
  }
}
