<app-shikibetu-selectors></app-shikibetu-selectors>

<div class="grid-wrapper" *ngIf="races$ | async as races">
  <ng-container *ngIf="venue$ | async as venue">
    <ng-container *ngFor="let shikibetu of uiService.shikibetuGroup">
      <ng-container *ngIf="shikibetu === 'tansho'"
        ><app-tansho-forms
          [jo]="jo"
          [races]="races"
          [venue]="venue"
        ></app-tansho-forms
      ></ng-container>
      <ng-container *ngIf="shikibetu === 'fukusho'"
        ><app-fukusho-forms
          [jo]="jo"
          [races]="races"
          [venue]="venue"
        ></app-fukusho-forms
      ></ng-container>
      <ng-container *ngIf="result$ | async as result">
        <ng-container *ngIf="shikibetu === 'umaren'">
          <app-umaren-forms
            [result]="result"
            [races]="races"
          ></app-umaren-forms>
        </ng-container>

        <ng-container *ngIf="shikibetu === 'umatan'">
          <app-umatan-forms
            [jo]="jo"
            [races]="races"
            [venue]="venue"
          ></app-umatan-forms>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<div class="side-selector" *ngIf="uiService.isTwoHorseOptionNavOpen">
  <app-two-horse-option
    [shikibetu]="uiService.shikibetu"
  ></app-two-horse-option>
</div>

<div class="footer">
  <app-result [sheet]="sheet" [yosoka]="yosoka" [jo]="jo"></app-result>
</div>
