<app-shikibetu-selectors></app-shikibetu-selectors>

<div class="grid-wrapper">
  <ng-container *ngFor="let shikibetu of uiService.shikibetuGroup">
    <ng-container *ngIf="shikibetu === 'tansho'"
      ><app-tansho-forms [jo]="jo"></app-tansho-forms
    ></ng-container>
    <ng-container *ngIf="shikibetu === 'fukusho'"
      ><app-fukusho-forms></app-fukusho-forms
    ></ng-container>
    <ng-container *ngIf="result$ | async as result">
      <ng-container *ngIf="shikibetu === 'umaren'">
        <app-umaren-forms [result]="result"></app-umaren-forms>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="shikibetu === 'umatan'">
      <app-umatan-forms></app-umatan-forms>
    </ng-container>
  </ng-container>
</div>

<ng-container *ngIf="dataset">
  <hot-table [settings]="settings"> </hot-table>
</ng-container>

<div class="side-selector" *ngIf="uiService.isTwoHorseOptionNavOpen">
  <app-two-horse-option
    [shikibetu]="uiService.shikibetu"
  ></app-two-horse-option>
</div>

<div class="footer">
  <app-result [sheet]="sheet" [yosoka]="yosoka" [jo]="jo"></app-result>
</div>
