<div class="heading">
  <p class="heading__text">式別：単勝</p>
</div>

<div class="header">
  <p class="header__item">馬番</p>
  <p class="header__item">金額</p>
  <p class="header__item">出現回数</p>
  <p class="header__item">出現率</p>
  <p class="header__item">平均配当</p>
  <p class="header__item">期待値</p>
</div>

<form [formGroup]="betMoneyGroup">
  <div
    formArrayName="betForms"
    *ngFor="let form of betForms.controls; index as i"
  >
    <div [formGroupName]="i" class="row">
      <p class="row__index">{{ i + 1 }}</p>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="betForm"
          type="number"
          min="100"
          max="10000"
          step="100"
        />
      </mat-form-field>
      <!-- <ng-container *ngIf="winRaces$ | async as winRaces"> -->
      <ng-container *ngIf="winRaces">
        <div class="row__result">
          <p>{{ winRaces[i] }}</p>
        </div>
      </ng-container>
      <ng-container *ngIf="appearanceRates">
        <div class="row__result">
          <p>{{ appearanceRates[i] }}%</p>
        </div>
      </ng-container>
      <ng-container *ngIf="avgDividendArr">
        <div class="row__result">
          <p>{{ avgDividendArr[i] }}</p>
        </div>
      </ng-container>
      <!-- </ng-container> -->
    </div>
  </div>
</form>
