.heading {
  background: #f5f5f5;
  color: rgba(0, 0, 0, 0.64);
  padding: 4px 16px;
  border: 1px solid #eee;
}

.header {
  background: #f5f5f5;
  color: rgba(0, 0, 0, 0.64);
  display: grid;
  grid-template-columns: 80px 80px 60px 60px 60px 60px 60px;
  &__item {
    padding: 4px 4px;
    border: 1px solid #eee;
    font-size: 12px;
  }
}

.row {
  display: grid;
  grid-template-columns: 80px 80px 60px 60px 60px 60px 60px;
  align-items: center;
  border: 1px solid #eee;
  &__index {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.38);
    display: grid;
    place-items: center;
    margin: 0 auto;
  }
}
