.header {
  background: linear-gradient(to right bottom, #396afc, #2948ff);
  color: #fafafa;
  padding: 8px 24px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__text {
    font-size: 16px;
    line-height: 40px;
  }
  &__icon {
    background: center center/cover no-repeat;
    box-shadow: none;
  }
}

.selectors-group {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0 24px;
  overflow-x: auto;
}

.selector {
  margin-right: 16px;
}
