<div class="header">
  <h1 class="header__text">馬券シュミレーター</h1>
  <ng-container *ngIf="authService.user$ | async as user">
    <div class="header__btns">
      <button
        mat-mini-fab
        [matMenuTriggerFor]="userMenu"
        [style.background-image]="'url(' + user?.photoURL + ')'"
        class="header__icon"
      ></button>
    </div>
    <mat-menu #userMenu="matMenu" class="header__menu">
      <a mat-menu-item routerLink="/">
        <mat-icon>settings</mat-icon>
        <span>設定</span>
      </a>
      <button mat-menu-item (click)="authService.logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>ログアウト</span>
      </button>
    </mat-menu>
  </ng-container>
</div>

<div class="selectors-group">
  <div class="selector">
    <app-select [type]="'yosoka'"></app-select>
  </div>
  <div class="selector">
    <app-select [type]="'jra'"></app-select>
  </div>
  <div class="selector">
    <app-select [type]="'nar'"></app-select>
  </div>
  <div class="selector">
    <app-select [type]="'kenshu'"></app-select>
  </div>
  <button mat-mini-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>
