<div class="heading">
  <h1 class="heading__text">馬券シュミレーター</h1>
</div>

<div class="selectors-group">
  <div class="selector">
    <app-select [type]="'yosoka'"></app-select>
  </div>
  <div class="selector">
    <app-select [type]="'jra'"></app-select>
  </div>
  <div class="selector">
    <app-select [type]="'nar'"></app-select>
  </div>
  <div class="selector">
    <app-select [type]="'kenshu'"></app-select>
  </div>
  <button mat-mini-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>
