.header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
}

.side-selector {
  width: 272px;
  height: calc(100vh - 56px - 77px - 16px);
  position: fixed;
  top: 56px;
  right: 0;
  z-index: 100;
  background: #2962ff;
  padding: 0 24px 16px 24px;
}

.grid-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, max(300px));
  padding: 124px 0 80px;
  background: #fff;
  font-size: 13px;
}

.footer {
  width: 100vw;
  padding: 16px;
  background: rgba(#000, 0.72);
  color: #fafafa;
  position: fixed;
  bottom: 0;
}
