<div class="header">
  <app-header></app-header>
</div>

<div class="grid-wrapper">
  <ng-container *ngFor="let shikibetu of uiService.shikibetuGroup">
    <ng-container *ngIf="shikibetu === 'tansho'"
      ><app-tansho></app-tansho
    ></ng-container>
    <ng-container *ngIf="shikibetu === 'fukusho'"
      ><app-fukusho></app-fukusho
    ></ng-container>
    <ng-container *ngIf="result$ | async as result">
      <ng-container *ngIf="shikibetu === 'umaren'">
        <app-umaren-forms [result]="result"></app-umaren-forms>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<div class="side-selector" *ngIf="uiService.isOpen">
  <app-umaren></app-umaren>
</div>

<div class="footer">
  <app-result></app-result>
</div>
