<div class="header">
  <app-header></app-header>
</div>

<mat-drawer-container>
  <div class="grid-wrapper">
    <ng-container *ngFor="let shikibetu of uiService.shikibetuGroup">
      <ng-container *ngIf="shikibetu === 'tansho'"
        ><app-tansho></app-tansho
      ></ng-container>
      <ng-container *ngIf="shikibetu === 'fukusho'"
        ><app-fukusho></app-fukusho
      ></ng-container>
      <ng-container *ngIf="shikibetu === 'umaren'"
        ><app-umaren></app-umaren
      ></ng-container>
    </ng-container>

    <mat-drawer
      #drawer
      position="end"
      [mode]="'over'"
      [opened]="uiService.isOpen"
      ><app-umaren></app-umaren>
    </mat-drawer>
  </div>
  <div class="footer">
    <app-result></app-result>
  </div>
</mat-drawer-container>
