.header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
}

.grid-wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, max(300px));
  padding: 124px 0 80px;
  background: #fff;
}

.footer {
  width: 100vw;
  padding: 16px;
  background: rgba(#000, 0.72);
  color: #fafafa;
  position: fixed;
  bottom: 0;
}
