.sheets-wrap {
  min-height: 100vh;
}

.ratest {
  margin: 48px auto;
  &__heading {
    margin-bottom: 24px;
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 140px;
  }
  &__card {
    padding: 16px;
    margin-right: 24px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: rgba(#2962ff, 0.16);
    }
  }
  &__avatar {
    width: 88px;
    height: 88px;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
  }
  &__jo {
    display: flex;
    align-items: center;
    text-align: center;
  }
  &__id {
    margin-right: 8px;
  }
  &__default {
    padding: 16px;
  }
}

.sheets {
  display: flex;
  flex-flow: column;
  &__heading {
    margin-bottom: 16px;
  }
  &__avatar {
    width: 56px;
    height: 56px;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
  }
  &__jo {
    display: flex;
    align-items: center;
  }
  &__id {
    margin-right: 8px;
  }
  &__name {
    margin-right: 16px;
  }
  &__box {
    border-radius: 56px;
    padding: 0 16px;
    &:hover {
      background: rgba(#2962ff, 0.16);
    }
  }
  &__body {
    display: grid;
    grid-template-columns: 64px 1fr 1fr 1fr 64px;
    gap: 16px;
    align-items: center;
    padding: 8px;
    color: rgba(0, 0, 0, 0.6);
  }
  &__user {
    display: flex;
    align-items: center;
  }
  &__photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
    margin-right: 8px;
  }
  &__createdAt {
    font-size: 14px;
  }
  &__btn {
    &:hover {
      background: rgba(0, 0, 0, 0.16);
    }
  }
}
