/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

$primary: mat-palette($mat-blue, A700);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);

$myTheme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include angular-material-theme($myTheme);

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial',
    'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ',
    Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  word-break: break-all;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
ol,
figure {
  padding: 0;
  margin: 0;
  outline: none;
}

button {
  border: none;
  outline: none;
  appearance: none;
}

input {
  outline: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.container {
  max-width: 1600px;
  padding: 16px 24px;
  margin: 0 auto;
  &--home {
    max-width: 1200px;
    min-height: calc(100vh - 56px);
  }
  &--header {
    padding: 16px 24px;
  }
  &--shikibetu {
    max-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background: rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    padding: 8px;
  }
  &--create-sheet {
    max-width: 960px;
    min-height: calc(100vh - 56px - 32px - 56px);
    display: grid;
    place-items: center;
  }
  &--member,
  &--sheets {
    max-width: 960px;
  }
}

.selectors-group {
  .mat-form-field-wrapper {
    padding: 8px 0;
  }
}

.row {
  .mat-form-field-wrapper {
    padding: 0;
  }
  .mat-form-field-outline-start,
  .mat-form-field-outline-end {
    border-radius: 0 !important;
  }
}

.custom-snackbar {
  background: linear-gradient(to right, #396afc, #2948ff);
  color: #fff;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}

.spacer {
  flex: 1;
}
