/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans",
    "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  word-break: break-all;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
ol,
figure {
  padding: 0;
  margin: 0;
  outline: none;
}

button {
  border: none;
  outline: none;
  appearance: none;
}

input {
  outline: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.container {
  max-width: 1600px;
  padding: 16px 24px;
  &--header {
    padding: 16px 24px;
  }
  &--shikibetu {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
}

.selectors-group,
.row {
  .mat-form-field-wrapper {
    padding: 8px 0;
  }
}
