.selectors {
  &__heading {
    text-align: center;
    font-size: 18px;
    margin-bottom: 24px;
  }
  &__item {
    margin-bottom: 16px;
  }
  &__submit {
    width: 100%;
  }
  &__icon {
    text-align: center;
  }
}
