<div *ngIf="type === 'shikibetu'" class="flex">
  <form [formGroup]="formGroup" class="flex">
    <div
      formArrayName="shikibetuControls"
      *ngFor="let control of shikibetuControls.controls; index as i"
      class="flex__item"
    >
      <div [formGroupName]="i" class="flex">
        <mat-form-field appearance="outline">
          <mat-label>馬券種を選択</mat-label>
          <mat-select
            formControlName="shikibetuControl"
            (selectionChange)="setShikibetu(i)"
          >
            <mat-option
              *ngFor="let kenshu of shikibetuList"
              [value]="kenshu.value"
            >
              {{ kenshu.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container *ngIf="shikibetuControls.controls.length >= 2">
          <button
            mat-mini-fab
            color="primary"
            class="flex__remove"
            (click)="removeShikibetuControl(i)"
          >
            <mat-icon>remove</mat-icon>
          </button>
        </ng-container>
      </div>
    </div>
  </form>
  <button
    mat-mini-fab
    color="primary"
    class="flex__add"
    (click)="addShikibetuControl()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
