<ng-container *ngIf="type === 'yosoka'">
  <mat-form-field appearance="outline">
    <mat-label>予想家を選択</mat-label>
    <mat-select [formControl]="yosokaControl">
      <mat-option *ngFor="let yosoka of yosokas" [value]="yosoka.value">
        {{ yosoka.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>

<div *ngIf="type === 'kenshu'" class="flex">
  <form [formGroup]="formGroup" class="flex">
    <div
      formArrayName="shikibetuControls"
      *ngFor="let control of shikibetuControls.controls; index as i"
      class="flex__item"
    >
      <div [formGroupName]="i" class="flex">
        <mat-form-field appearance="outline">
          <mat-label>馬券種を選択</mat-label>
          <mat-select
            formControlName="shikibetuControl"
            (selectionChange)="setShikibetu(i)"
          >
            <mat-option
              *ngFor="let kenshu of shikibetus"
              [value]="kenshu.value"
            >
              {{ kenshu.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container *ngIf="shikibetuControls.controls.length >= 2">
          <button
            mat-mini-fab
            color="primary"
            class="flex__remove"
            (click)="removeShikibetuControl(i)"
          >
            <mat-icon>remove</mat-icon>
          </button>
        </ng-container>
      </div>
    </div>
  </form>
  <button
    mat-mini-fab
    color="primary"
    class="flex__add"
    (click)="addShikibetuControl()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<ng-container *ngIf="type === 'jra'">
  <mat-form-field appearance="outline">
    <mat-label>中央競馬場を選択</mat-label>
    <mat-select [formControl]="jraControl">
      <mat-option *ngFor="let jou of jra" [value]="jou.value">
        {{ jou.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>

<ng-container *ngIf="type === 'nar'">
  <mat-form-field appearance="outline">
    <mat-label>地方競馬場を選択</mat-label>
    <mat-select [formControl]="narControl">
      <mat-option *ngFor="let jou of nar" [value]="jou.value">
        {{ jou.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
