<div class="heading">
  <p class="heading__text">式別：単勝</p>
</div>

<div class="header">
  <p class="header__item">馬番</p>
  <p class="header__item">金額</p>
</div>

<form [formGroup]="betMoneyGroup" *ngFor="let rank of ranks">
  <div *ngIf="ranks.length > 0">
    <div
      formArrayName="betForms"
      *ngFor="let form of betForms.controls; index as i"
    >
      <div [formGroupName]="i" class="row">
        <p class="row__index">{{ rank.index }}</p>
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="betForm"
            type="number"
            min="100"
            max="10000"
            step="100"
            (change)="betMoney()"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
