.heading {
  margin-bottom: 16px;
}

.header {
  background: #424242;
  padding: 8px 24px;
  color: #fafafa;
  display: grid;
  grid-template-columns: 80px 1fr;
  margin-bottom: 16px;
  &__item {
    margin-right: 24px;
  }
}

.row {
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  padding: 0 16px;
  &__index {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.38);
    display: grid;
    place-items: center;
  }
}
